@media (max-width: 1200px)
  .container
    max-width: 960px
@media (max-width: 992px)
  // Блок header
  .container
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      &__container
        padding-top: 30px
        padding-bottom: 30px
    &-menu
      &__container
        padding-top: 22px
        padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
    &__search
      margin-left: auto
  .search
    &__input
      max-width: 340px
  // Блок hotel
  .info
    padding-bottom: 60px
    &__main-container
      flex-direction: column
    &__additional-container
      display: flex
      justify-content: space-between
    &__booking-form, &__map
      max-width: 340px
      margin-bottom: 0
    &__hotel
      &-slider
        width: 100%
        margin-right: 0
        margin-bottom: 30px
  // Блок footer
  .logo-vertical
    width: 104px
  .footer
    &-top
      padding-top: 73px
      padding-bottom: 33px
    &__logo-vertical
      order: -1
      margin-right: 46.8px
      margin-bottom: 39px
    &__menu
      &:last-child
        position: static
        flex-basis: 70.1%
        order: -1
  .nav-menu
    &__title
      font-size: 18px
      line-height: 23px
    &__link
      font-size: 14px
@media (max-width: 767px)
  .container, .mailing__container
    max-width: 596px
    width: 87.5%
  // Блок header
  .navbar
    &__search, &-menu, &__user
      display: none
    &-top
      &__container
        padding-top: 28px
        padding-bottom: 28px
    .menu
      &-button
        display: flex
        width: 16px
        height: 11px
        flex-direction: column
        align-items: center
        justify-content: space-between
        padding: 0
        cursor: pointer
        border: none
        background-color: $alt-text-color
        &__line
          width: 100%
          height: 1px
          background-color: $text-color
  // Блок hotel
  .info
    padding-bottom: 40px
    &__text-container
      padding-top: 5px
      padding-bottom: 20px
    &__text-group
      justify-content: space-between
    &__rating
      display: flex
      margin-bottom: 0
      justify-content: space-between
      flex-basis: 48px
    &__offer
      margin-left: 0
      order: -1
    &__name
      margin-top: 10px
      flex-basis: 100%
    &__user-ratings
      display: none
    &__main-container
      padding-top: 18px
    &__hotel
      &-slider
        margin-bottom: 20px
    &__additional-container
      flex-direction: column
    &__booking-form
      max-width: 100%
      width: 100%
      margin-bottom: 20px
    &__map
      max-width: 100%
      &-cover
        width: 100%
  .hotel
    &-slider
      &__wrapper
        height: 56vw
      &__buttons
        padding: 2.49px 3.82px
        line-height: 0.8
      &__icon-arrows
        width: 12px
        height: 12px
  // Блок mailing
  .mailing
    &__container
      max-width: 556px
      flex-direction: column
      align-items: flex-start
      padding-top: 76px
      padding-bottom: 83px
    &__text
      margin-bottom: 37px
    &__subtitle
      font-weight: 300
      font-size: 20px
      line-height: 24px
    &__title
      font-weight: 600
      font-size: 36px
      line-height: 44px
  .subscribe
    width: 100%
    &__input
      width: inherit
  //  Блок footer
  .footer
    &-top
      flex-direction: column-reverse
    &__logo-vertical
      margin-right: 0
      margin-top: 30px
      order: 5
    &__menu
      margin-bottom: 30px
      &:last-child
        order: 4
      &:nth-child(2)
        margin-bottom: 0
  .social-network
    display: flex
    flex-wrap: wrap
    &__title
      margin-right: 0
      margin-bottom: 20px
      flex-basis: 100%
@media (max-width: 576px)
  .container, .mailing__container
    // max-width: 460px
  .logo
    line-height: 14px
    width: 99px
@media (max-width: 480px)
  .container, .mailing__container
    // max-width: 280px
