*
  box-sizing: border-box
body
  font-family: 'Mulish', sans-serif
  color: $text-color
  background-color: #f5fafe
  &.lock
    overflow: hidden
.container
  max-width: 1110px
  margin: auto
img
  max-width: 100%
.invalid
  color: $primery
  border-bottom: 1px solid $primery
