.footer
  background-color: $additional
  &-top
    display: grid
    padding-top: 108px
    padding-bottom: 89px
    grid-template: minmax(100px, 200px) 23px / repeat(auto-fit, minmax(120px, 1fr))
    &__logo
      margin-top: 21px
    &__menu
      &:nth-last-child(1)
        grid-column: 3 / 5
        grid-row: 2
      &:nth-last-child(2)
        // margin-left: auto
        justify-self: end
  &-contact
    padding-bottom: 89px
    display: grid
    grid-template-columns: 0.5fr 0.5fr
    &__details
      display: flex
      flex-direction: column
      color: $alt-text-color
    &__icons
      align-self: center
      fill: $link-color
    &__phone-call
      grid-column: 1
      grid-row: 3
    &__email
      grid-column: 1
      grid-row: 7
    &__text
      color: $link-color
      align-self: center
      grid-column: 2
      font-size: 14px
      line-height: 160%
      &:last-child
        grid-row: 7
      &:nth-child(4)
        grid-row: 3
      &:nth-child(5)
        grid-row: 4
      &:nth-child(6)
        grid-row: 5
    &__info
      margin-top: 22px
      display: grid
      column-gap: 20px
      grid-template: repeat(7, 22px) / 20px 1fr
    &__title
      margin-top: 12px
      margin-bottom: 24px
      font-weight: bold
      font-size: 18px
      line-height: 23px
      text-transform: uppercase
    &__subtitle
      color: $link-color
      font-size: 14px
      line-height: 160%
  &-bottom
    padding-bottom: 46px
    display: grid
    grid-template: 1fr / 136px 1fr 136px
    &__links-bar
      width: 283px
      display: flex
      justify-content: space-between
      align-self: end
      justify-self: center
      grid-column: 2 / 3
    &__link
      color: $alt-text-color
      text-decoration: none
      font-size: 12px
      line-height: 15px
    &__payment
      object-fit: cover
.logo-vertical
  width: 166px
.social-network
  display: flex
  align-items: center
  color: $alt-text-color
  &__title
    margin-right: 41px
    font-weight: bold
    font-size: 18px
    line-height: 23px
    text-transform: uppercase
  &__link
    display: flex
    align-items: center
    fill: $link-color
    &:not(:last-child)
      margin-right: 10px
.nav-menu
  display: flex
  flex-direction: column
  color: $alt-text-color
  &__title
    white-space: nowrap
    margin-bottom: 20px
    font-weight: bold
    font-size: 18px
    line-height: 23px
    text-transform: uppercase
  &__link
    white-space: nowrap
    color: inherit
    font-weight: normal
    font-size: 14px
    line-height: 160%
    color: $link-color
    text-decoration: none
.form
  &__title
    display: block
    margin-bottom: 34px
    color: $alt-text-color
    font-weight: bold
    font-size: 18px
    line-height: 23px
    text-transform: uppercase
  &__input-bar
    display: grid
    height: 260px
    column-gap: 30px
    row-gap: 15px
    grid-template: 50px 123px 1fr / 0.5fr 0.5fr
    font-size: 12px
    line-height: 15px
  &__name, &__phone
    padding: 18px 23px
    color: $link-color
    border: none
    border-radius: 4px
  &__message
    grid-column: span 2
    padding: 18px 23px
    overflow: hidden
    resize: none
    border: none
    border-radius: 4px
    color: $link-color
  &__button
    width: 160px
    height: 50px
    align-self: end
    background: $primery
    border: none
    border-radius: 4px
    color: $alt-text-color
    font-weight: bold
  &__note
    justify-self: end
    align-self: center
    color: #e0e0e0
