.other-packages
  padding-top: 40px
  padding-bottom: 70px
  &__title
    margin-top: 0
    margin-bottom: 65px
    text-align: center
    text-transform: uppercase
    font-weight: bold
    font-size: 36px
    line-height: 45px
  &__cards
    display: grid
    gap: 30px
    height: 1030px
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr))
    grid-template-rows: repeat(auto-fit, minmax(500px, 1fr))

.packag-card
  display: flex
  flex-direction: column
  justify-content: flex-end
  position: relative
  border-radius: 8px
  overflow: hidden
  background-color: $additional
  color: $alt-text-color
  &.full
    flex-direction: row
    grid-column: span 2
  &__img
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 50%
    object-fit: cover
    &.full
      height: 100%
      width: 50.138%
  &__flash-offer
    position: absolute
    top: 26px
    left: 0
    width: 60px
    height: 18px
    display: flex
    align-items: center
    justify-content: center
    font-weight: 600
    font-size: 8px
    line-height: 10px
    color: $alt-text-color
    background: $primery
    border-radius: 0px 4px 4px 0px
    &.full
      width: 95px
      height: 30px
      font-size: 12px
      line-height: 15px
  &__booking-info
    display: flex
    flex-direction: column
    justify-content: flex-start
    padding: 30px 21px 25px 32px
    height: 50%
    width: 100%
    fill: $alt-text-color
    &.full
      padding: 46px 21px 30px 43px
      height: 100%
      width: 49.862%
  &__rating-bar
    display: block
    margin-bottom: 5px
  &__title
    margin-top: 0
    margin-bottom: 23px
    font-weight: bold
    font-size: 18px
    line-height: 23px
  &__text
    margin-top: 4px
    margin-bottom: 34px
    font-size: 14px
    line-height: 160.6%
  &__info
    margin-bottom: 24px
    height: 67px
    display: flex
    flex-direction: column
    justify-content: space-between
    font-size: 12px
    line-height: 15px
    &-item
      display: flex
      align-items: center
  &__icons
    margin-right: 14px
  &__old-price
    margin-top: auto
    font-size: 14px
    line-height: 18px
    text-decoration-line: line-through
  &__get-offer
    display: flex
    justify-content: space-between
    align-items: center
  &__curent-price
    font-weight: bold
    font-size: 24px
    line-height: 30px
  &__button
    width: 120px
    background: $primery
    padding: 11px 27px 10px 26px
    border-radius: 4px
    border: none
    color: $alt-text-color
    font-family: Nunito
    font-weight: 600
    font-size: 14px
    line-height: 19px
    white-space: nowrap
